* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arvo', serif;
	color: yellow;
}

html{
	scroll-behavior: smooth;
}

.maincontainer:after{
	content: " ";
	display: block;
	clear: both;
}

.contain{
	height: 700px;

}

.maincontainer{
	width: 100%;
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header{
	width: 100%;
	background-color: rgba(179, 209, 255, 0.3);
	text-align: center;
	height: 100px;
	font-size: 30px;
	padding-top: 10px;
	text-transform: uppercase;
}

.feature-1,
.feature-2,
.feature-3{
	width: 32%;
	float: left;
	background-color: rgba(204, 204, 204, 0.4);
	border: 3px solid black;
	margin: 8px;
	text-align: center;
	height: 300px;
	border-radius: 15px;
	padding: 15px;
}


.feature-3:hover{
	background-color: rgba(204, 204, 204, 0.8);
}

.feature-2:hover{
	background-color: rgba(204, 204, 204, 0.8);
}

.feature-1:hover{
	background-color: rgba(204, 204, 204, 0.8);
}


.circlepic{
	border-radius: 60%;
	border: 5px solid gray;
	text-align: center;
	height: 180px;
	width: 180px;
	margin: 0 auto;
	float:left;
	background-image: url("../images/me.jpg");
	background-size: cover;
	background-position: bottom;
}

.bio{
	text-align: justify;
	width: 700px;
	background-color: rgba(77, 77, 77, 0.5);
	margin: 15px auto;
	border-radius: 10px;
	padding: 15px;
	height: 220px;
}

.nav{
	height: 170px;
	width: 200px;
	background-color: rgba(77, 77, 77, 0.3);
	float: left;
	position: fixed;
	border-radius: 15px;
}

ul > li {
	text-decoration: none;
	font-weight: none;
	margin-bottom: 10px;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 3px solid #333;
	background-color: rgba(207, 207, 207, 0.6);
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

li:hover{
	background-color: rgba(207, 207, 207, 0.8);
}

h2{
	margin:5px;
}

#biopar{
	float: left;
	width: 450px;
	margin: 10px 10px 10px 30px;
}

p{
	text-align: justify;
	margin-bottom: 10px;
}

.socials{
	width: 800px;
	margin: 10px auto;
	background-color: rgba(77,77,77,0.3);
	padding: 15px;
	border-radius: 15px;

}